#Directories
.git/
venv/
__pycache__/
.venv/
.terraform/
ollama_data/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json


# Certificates / keys
*.crt
*.pem
*.key
certs/
ssl/
.DS_Store